* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 10px 10px 30px 10px;
    background-color: #EAEAEA;
}

.footer {
    background-color: #000;
    text-align: center;
    padding: 10px;
}

.footer a {
    color: #FFFF80;
}

.content {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.leftColumn {
    flex: 25% 0 0;
    background-color: #C8FC98;
    padding: 5px 10px;
}

.text {
    flex: auto 1 1;
    padding: 5px 10px;
}

.rightColumn {
    flex: 200px 0 0;
    background-color: #FDE95E;
    padding: 5px 10px;
}

.columnTitle {
    display: inline;
    font-weight: bold;
    font-size: 20px;
}

.columnTitle span {
    color: red;
}